.container {
  padding: .2rem;
  margin-bottom: .4rem;;
  background-color: var(--orange);
  color: var(--light-orange);
}

.avatar {
    width: 50px; /* Adjust the size as needed */
    height: 50px;
    border-radius: 50%; /* Makes the image circular */
    object-fit: cover; /* Ensures the image fills the circle without distortion */
  }