/* app/components/JoinButton.module.css */
.joinButton {
    background-color: green; 
    color: white; 
    padding: 10px 20px; 
    border: none;
    border-radius: 5px; /* Adjust as needed */
    cursor: pointer;
  }
  