/* LeftNav.module.css */
.containerLnav {
  z-index: 1;
  position: fixed;
  top: 0;
  left: -250px;
  width: 11.8rem;
  height: 100%;
  padding: 5px;
  background-color: var(--orange);
  transition: left 0.3s ease;
}

.containerLnav.open {
  left: 0;
}

.header {
  display: flex;
  justify-content: flex-end;
}

.x {
  width: 30px;
  height: 60px;
  display: flex;
  justify-content: flex-end;
}

.x:hover {
  cursor: pointer;
}

.topicsCard {
  margin-top: .7rem;
  padding: .3rem;
  height: 2.3rem;
  background-color: var(--light-orange);
}

.topicsCard:hover {
  background-color: var(--orange);
}