/* app/components/Login.module.css */
.container {
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0px;
  width: 370px;
  height: 100%;
  padding: 5px;
  background-color: var(--orange);
  transition: left 1s ease;
}

.header {
  display: flex;
  justify-content: flex-end;
}

.x {
  background-color: #fff;
  width: 30px;
  height: 60px;
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
}