/* Nav.module.css */
.container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.icon {
    font-size: xx-large;
    color: var(--light-orange);
    cursor: pointer;
}

.chatProcessing {
    font-size: 3rem;
    color: var(--orange);
    cursor: pointer;
}