.container {
    text-decoration: none;
    color: var(--light-orange);
    background-color: #6d3c3c;
  
  }
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  /* In your PostCard.module.css file */
  
  .postInfo { 
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  .postInfo .poster {
    margin: 5px 0; /* Adjust spacing as needed */
  }
  
  .info {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .avatar {
      width: 50px; /* Adjust the size as needed */
      height: 50px;
      border-radius: 50%; /* Makes the image circular */
      object-fit: cover; /* Ensures the image fills the circle without distortion */
    }
  .image {
    width: 100%;
  }