.container {
  width: 4rem;
  height: 3rem;
  background-color: #72a4ee;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 2px;
}

.arrow {
  font-size: large;
  cursor: pointer;
}