.container {
    width: .4rem;
    background-color: #72a4ee;
    display: flex;
    justify-content: center; /* Distribute space around elements */
  /*align-items: center;  Vertically center elements */
  padding: 2px;
}
