:root {
  --black: rgb(59, 47, 8);
  --orange: rgb(238, 185, 9);
  --light-orange: rgb(240, 232, 207);
}

body {
  padding: .4rem;
  background-color: var(--black);
  color: var(--light-orange);
}

.login-warning {
  color: red;
}

a {
  text-decoration: none;
}

.hidden {
  display: none;
}

.overlay {
  width: calc(100vw - 200px);
  position: fixed;
  top: -250px;
  left: 200px;
  height: 80rem;
  z-index: 2;
  background-color: rgba(223, 95, 95, 0.5);
}

.overlay.active {
  display: block;
}

.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}