* {
  border: 1px solid red;
}
:root {
  --black: rgb(59, 47, 8);
  --orange: rgb(238, 185, 9);
  --light-orange: rgb(240, 232, 207);
}
body {
  /* position: relative; */
  background-color: var(--black);
  color: var(--light-orange);
}

.login-warning {
  color: red;
}
a {
  text-decoration: none;
}
/* .nav {  */
  /* position: absolute; */
/* position: fixed; */
/* }  */

.hidden {
  display: none;
}